# Environments
.env
.venv
venv/
env/
ENV/
env.bak/
venv.bak/
__pycache__/
*.pyc

# Database
*.sqlite
*.db

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Uploads and Outputs
uploads/
outputs/
*.mp4
*.MOV
*.mp3
